html, body {
  background-color: #222;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#viewport {
  width: inherit;
  height: inherit;
  background-color: black;
  margin: 0px;
  padding: 0px;
}